@use './vars' as *;
@use './mixins' as *;

.categories {
  padding: 49px 0 96px;

  @include on-tablet {
    padding: 60px 0 120px;
  }

  &__title {
    margin-bottom: 47px;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }

  &__lists:not(:last-child) {
    margin-bottom: var(--article-gap-row);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--article-gap-column);
  }

  &__item {
    flex: 1 1 40%;
    max-width: calc((100% - 20px) / 2);
  }

  &__article-image {
    aspect-ratio: 1 / 1;
    margin: 0;

    @include on-tablet {
      aspect-ratio: 498 / 324;
    }
  }

  &__name {
    margin-top: 16px;
    font-size: 18px;
    font-weight: var(--font-weight-title);
    line-height: var(--font-line-haight-regular);

    @include on-tablet {
      font-size: 24px;
    }
  }
}
