@use './vars' as *;
@use './mixins' as *;

.footer {
  padding: 64px 0;

  @include on-tablet {
    padding: 120px 0;
  }

  &__title {
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include on-tablet {
      gap: 80px;
    }

    @include on-desktop {
      flex-direction: row;
      gap: 110px;
    }
  }

  &__form {
    @include on-desktop {
      flex: 1 1 498px;
    }
  }

  &__contacts {
     @include on-desktop {
      flex: 1 1 411px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &__input {
    padding: 14px 16px;
    background-color: $bg-color-main;
    border: 2px solid $bg-color-main;
    border-radius: $radius-UI-component;
    font-family: inherit;
    transition: border-color $transition-duration ease,
                outline $transition-duration ease;
    &:hover {
      border-color: $border-color;
    }
    &:focus {
      outline: none;
    }
    &:focus-visible {
      border-color: $color-accent;
    }

    &::placeholder {
      color: $font-color-muted;
      font-size: 14px;
      line-height: var(--font-line-haight-regular);
      letter-spacing: var(--font-letter-spacing);
      opacity: 1; /* для Firefox */
    }
  }

  &__textarea {
    width: 100%;
    min-height: 148px;
    resize: none;
    overflow: hidden;
    line-height: var(--font-line-haight-regular);
    letter-spacing: var(--font-letter-spacing);
  }

  &__submit {
    margin-top: 16px;
    width: 100%;
  }
}

.contacts {

  &__item {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__term {
    font-size: 14px;
    color: $font-color-muted-lite;
    line-height: var(--font-line-haight-regular);
    letter-spacing: var(--font-letter-spacing);
    margin-bottom: 8px;
  }

  &__link {
    display: inline-block;
    position: relative;
    color: $font-color-secondary;
    text-decoration: none;
    line-height: var(--font-line-haight-regular);
    letter-spacing: var(--font-letter-spacing);

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $font-color-primary;
      transform-origin: left;
      transform: scaleX(0);
      transition: transform $transition-duration ease;
    }

    &:hover::after,
    &:focus-visible::after {
      transform: scaleX(1);
    }
    &:focus {
      outline: none;
    }
  }
}
