@use './vars' as *;
@use './mixins' as *;

.description {
  background-color: $bg-color-secondary;
  padding: 48px 0;

  @include on-tablet {
    padding: 120px 0;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include on-tablet {
      flex-direction: row;
    }

    @include on-desktop {
      gap: 110px;
    }
  }
  &__title {
    @include on-tablet {
      flex: 1 1 498px;
    }
  }

  &__text {
    letter-spacing: var(--font-letter-spacing);

    @include on-tablet {
      flex: 1 1 411px;
    }
  }
}
