@use './vars' as *;
@use './mixins' as *;

.header {
  height: 100vh;
  position: relative;
  background-image: url(../image/header-mobile.jpg);
  background-size: cover;
  background-position: center center;
  padding: 0 0 40px;

  @include on-tablet {
    padding: 0 0 64px;
    background-image: url(../image/header-dekstop.jpg);
  }


  &__main {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  &__title {
    font-size: var(--font-size-h1);
    color: $font-color-white;
  }
}
