@use './reset';
@use './vars' as *; // щоб змінні були доступні без префікса
@use './main';
@use './header';
@use './nav';
@use './aside';
@use './article';
@use './recommended';
@use './categories';
@use './description';
@use './contacts';
