@use './vars' as *;
@use './mixins' as *;

.recommended {
  padding: 64px 0 48px;
  @include onTablet {
    padding: 120px 0 60px;
  }

  &__title {
    margin-bottom: 48px;
    @include onTablet {
      margin-bottom: 56px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--article-gap-row);
    @include onDesktop {
      flex-direction: row;
      column-gap: var(--article-gap-column);
    }
  }
}

