
// screens
$tablet-screen: 744px;
$desktop-screen: 1260px;

// container
$container-max-width: 1020px;
$container-inline-padding: 20px;

// color palette
$COLOR-black-900: #1b2129;
$COLOR-black-950: #010810;
$COLOR-grey-500: #7e7e83;
$COLOR-grey-400: #9393a3;
$COLOR-grey-200: #dbdbdb;
$COLOR-grey-100: #f9f9f9;
$COLOR-white: #fff;
$COLOR-orange-500: #f98921;
$COLOR-cream-50: #fcfaef;

// font
$font-family: "Manrope", sans-serif;
$font-color-primary: $COLOR-black-900;
$font-color-secondary: $COLOR-black-950;
$font-color-white: $COLOR-white;
$font-color-muted: $COLOR-grey-500; //placeholder
$font-color-muted-lite: $COLOR-grey-400; //contacts
:root {
  --font-size: 1rem;
  --font-size-h1: 2.25rem; // 36px
  --font-size-h2: 2rem;   // 32px
  --font-weight-text: 400;
  --font-weight-title: 700;
  --font-line-haight-regular: 140%;
  --font-letter-spacing: 0.15px;

  --article-gap-column: 20px;
  --article-gap-row: 40px;
}

// backgrounds
$bg-color-secondary: $COLOR-cream-50;
$bg-color-main: $COLOR-grey-100;

// buttons
$border-color: $COLOR-grey-200;
$color-accent: $COLOR-orange-500;
$button-color-hover: $COLOR-black-900;
$button-color-pressed: $COLOR-black-950;
$button-line-height: 168%;
$radius-UI-component: 8px;

$transition-duration: 0.3s;


@media (min-width: $tablet-screen) {
:root {
  --font-size-h1: 3rem; // 48px
  --font-size-h2: 2.5rem;   // 40px
  --article-gap-column: 24px;
  --article-gap-row: 56px;
}
}
@media (min-width: $desktop-screen) {
:root {
  --font-size-h1: 3.5rem; // 56px
  --font-size-h2: 3rem;   // 48px
}
}

